#graficos {
    display: flex;
    flex-direction: row;
}

#titulos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#titulos div {
    width: 100%;
    height: 10vh;
}

#graficos div {
    width: 100%;
    height: 35vh;
}